<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <h1>Register</h1>
              <p class="text-muted">Create your account</p>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-user"></i></span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="regisdata.username" placeholder="Username">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="regisdata.email" placeholder="Email">
              </div>

              <ngb-progressbar [showValue]="false" type="{{pbtype}}" [value]="pb1" height="30px" [striped]="true">{{pb1txt}}</ngb-progressbar>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock"></i></span>
                </div>
                <input type="password" class="form-control" [(ngModel)]="regisdata.password" #pass1 (change)="checkPassStrength(pass1.value)" placeholder="Password">
              </div>
              <div class="alert alert-success" *ngIf="shSuccess" role="alert">
                confirm password ok
              </div>
              <div class="alert alert-danger" *ngIf="shError" role="alert">
                confirm password error please retype!
              </div>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock"></i></span>
                </div>
                <input type="password" class="form-control" (change)="checkpass(pass1.value,pass2.value)" #pass2 placeholder="Repeat password">
              </div>
              <button type="button" class="btn btn-block btn-success">Create Account</button>
            </div>
            <div class="card-footer p-4">
              <div class="row">
                {{regisdata.username}},
                {{regisdata.email}},
                {{regisdata.password}}
              </div>
              <div class="row d-none">
                <div class="col-6">
                  <button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>
                </div>
                <div class="col-6">
                  <button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
